.info-tovar {
    background: #212121;
    height: 235px;
    h2 {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        padding-top: 80px;
    }
    h3 {
        font-size: 21px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        padding-top: 23px;

    }
}